@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem; 
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
    #education, 
    .education-details-container {
        margin-top: 2rem;
    }
    #profile, 
    .section-container {
        display: block;

    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

/* CSS für Bildschirme mit einer maximalen Breite von 768px (Tablets und kleinere Geräte) */
@media only screen and (max-width: 768px) {
    .education_icon {
        margin-top: 1rem; /* Fügen Sie etwas Abstand oben hinzu */
    }

    .footer-block {
        flex-direction: column; /* Ändern Sie die Anordnung der Footer-Elemente in eine Spalte */
        align-items: center; /* Zentrieren Sie die Footer-Elemente horizontal */
    }
}



@media (max-width: 768px) {
    .title {
        font-size: 2rem; /* Anpassen der Schriftgröße für kleinere Bildschirme */
        margin-bottom: 2rem;
    }
}